<div class="container-fluid">
  <div class="row-fluid" data-ng-controller="MainCtrl">
    <h4 data-ng-show="message">{{message}}</h4>
    <div ng-view>
      <!-- <%- body %> -->
    </div>
  </div>
</div>