<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">

    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <gravatar email="user.email" data-ng-model="user" size="200" class="img-circle pull-left" style="width: 40px; height: 40px"></gravatar>
      <a class="brand" href="#">
        Angular Sails Socket.io Demo
        <span data-ng-show="connectedUsers.count">(
          <ng-pluralize count="connectedUsers.count" when="{'0': 'None viewing', 'one': '1 viewing', 'other': '{} viewing'}"></ng-pluralize>
          )</span>
      </a>

      <div class="nav-collapse collapse">
        <div class="authStatus">
          <p class="navbar-text pull-right" data-ng-show="user">
            Logged in as <a ng-href="#/users/show/{{user.id}}" target="_self" class="navbar-link">{{ user.name }}</a>
            &nbsp;|&nbsp; <a href="" ng-controller="LoginCtrl" ng-click="logout()" class="navbar-link">Sign out</a>
          </p>

          <p class="navbar-text pull-right" data-ng-hide="user">
            <a ng-href="#/login" class="navbar-link">Sign in</a>
          </p>
        </div>

        <div data-ng-controller="UsersController"></div>

        <ul class="nav" data-ng-controller="NavbarController">
          <li data-ng-class="{'active':getClass('/')}"><a ng-href="#/">Home</a></li>
          <li data-ng-class="{'active':getClass('/view1')}"><a ng-href="#/view1">View1</a></li>
          <li data-ng-class="{'active':getClass('/view2')}"><a ng-href="#/view2">View2</a></li>
          <li data-ng-class="{'active':getClass('/users')}"><a ng-href="#/users">Users</a></li>
          <li data-ng-class="{'active':getClass('/remotepartial')}"><a ng-href="#/remotepartial">Remote Partial</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>