<script type="text/ng-template" id="views/users/edit.html">
  <div class="users edit view">
    <h1>Edit User</h1>

    <div data-ng-include data-src="'views/users/partials/_edit_form.html'"></div>
    <br />
    <a class="btn btn-primary" ng-href="#/users">Back</a>

  </div>
</script>

