<script type="text/ng-template" id="views/users/new.html">
  <div class="users new view">
    <h1>New User</h1>

    <div data-ng-include data-src="'views/users/partials/_new_form.html'"></div>
    <br />
    <a class="btn btn-primary" ng-href="#/users">Back</a>

  </div>
</script>

